body{
  background-image: url(bg.jpg);
  text-align: center;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}

button{
  color: pink;
}

.container{
  width: 400px;
  align-items: center;
}

.grid{
  height: 400px;
  width: 400px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
   flex-wrap: wrap;
  background-color: #dcd6bc;
  border: 10px solid #dcd6bc;
}

div{
  font-size: 25px;
  text-align: center;
  font-family: 'Times New Roman', monospace;
}
