body{
  background-image: url(bg.jpg);
  text-align: center;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}

button{
  color: pink;
}

.container{
  width: 400px;
  align-items: center;
}

.grid{
  height: 400px;
  width: 400px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
   flex-wrap: wrap;
  background-color: #dcd6bc;
  border: 10px solid #dcd6bc;
}

div{
  font-size: 25px;
  text-align: center;
  font-family: 'Times New Roman', monospace;
}

.valid, .bomb{
  width: 40px;
  height: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.checked{
  width: 40px;
  height: 40px;
  border: 5px solid #9c998d;
  box-sizing: border-box;
}

.one{
  color:rgb(240, 64, 94);
}
